.form__input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
}

.form__input--active:focus-within,
.form__input:focus {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
}

.form__labels {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__person-icon {
  position: absolute;
  top: 30px;
  left: 12px;
}

.form__phone-icon {
  position: absolute;
  top: 97px;
  left: 12px;
}

.form__email-icon {
  position: absolute;
  top: 166px;
  left: 12px;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;

  &--active:focus-within,
  &:focus {
    fill: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #2196f3;
  }
}

.form__items {
  position: absolute;
  bottom: 164px;
  left: 40px;
}

.form__title {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px 0 12px 0;
  left: 70px;
}

.form__checkbox {
  appearance: none;

  &:checked + .form__signup-terms::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: 11px 8px;
    background-position: 3px 4px;
    background-repeat: no-repeat;
    background-color: $hoverColor;
    border-radius: 2px;
    border: none;
    transition: transform 250ms cubic-bezier(0.2, 0, 0.2, 1);
  }
}

.form__signup-terms {
  position: absolute;
  bottom: 120px;
  right: 40px;
  color: $secondColor;
  cursor: pointer;

  &::before {
    display: block;
    position: absolute;
    top: 2px;
    left: -23px;
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
  }
}

.form--link {
  color: $hoverColor;
}

.form__button {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  bottom: 40px;
  left: 164px;
}

.form__comment {
  resize: none;
  height: 96px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
}
