.nav {
  display: none;

  @include mq(tablet) {
    display: flex;
    margin-left: 83px;

    &__items {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin-right: 101px;
      font-size: 14px;
      column-gap: 60px;

      &—underline::after {
        display: block;
        content: "";
        width: 53px;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;
        margin-left: 0px;
        position: relative;
        top: 30px;
      }
    }
  }

  @include mq(desktop) {
    display: flex;
    margin-left: 50px;
    margin-right: 315px;

    &__items {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      font-size: 14px;
      column-gap: 46px;

      &—underline::after {
        display: block;
        content: "";
        width: 53px;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;
        margin-left: 0;
        position: relative;
        top: 30px;
      }
    }
  }
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $mainColor;
  transition-property: color;

  &:hover,
  &:focus,
  &:active {
    color: $hoverColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--color {
    color: $secondColor;
  }

  &--active {
    color: $hoverColor;
  }
}

.menu {
  display: none;

  @include mq(tablet) {
    display: block;
    list-style-type: none;
    padding-left: 0;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding-left: 30px;
    font-size: 12px;
    fill: $secondColor;
    transition-property: fill;

    @include mq(desktop) {
      font-size: 14px;
    }

    &:hover,
    &:active,
    &:focus {
      fill: $hoverColor;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
