.portfolio__header {
  border-bottom: 1px solid #ececec;
}

.nav__items—underline-2::after {
  display: block;
  content: "";
  width: 58px;
  height: 4px;
  background: $hoverColor;
  border-radius: 2px;

  position: relative;
  top: 19px;
}
