.section__cards {
  display: block;
  flex-basis: auto;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section__cards-item {
    width: 354px;
  }

  .section__cards-img {
    background-color: #f5f4fa;
    border-radius: 4px;
    padding: 25px 190px;

    @include mq(tablet) {
      padding: 25px 142px;
      margin-bottom: 30px;
    }
  }

  .section__cards-icon {
    margin: 0 auto;
  }

  .section__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $mainColor;
    margin: 30px 105px 10px;
    text-align: center;

    @include mq(tablet) {
      margin: 0;
      text-align: left;
    }
  }

  .section__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondColor;
    margin-bottom: 30px;

    @include mq(desktop) {
      margin: 0;
    }
  }

  @include mq(desktop) {
    display: flex;
    flex-basis: 270px;
    column-gap: 30px;

    .section__cards-icon {
      padding: 25px 100px;
    }

    .section__subtitle {
      margin: 30px 0 10px;
    }
  }
}
