.team-section {
  background: #f5f4fa;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
    margin-top: 0;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__cards {
    margin: 0;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-cards__list {
    padding: 16px 32px 18px;

    .team-cards__titles {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: $mainColor;
      padding-bottom: 10px;
    }

    .team-cards__description {
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: $secondColor;
    }

    .team-cards__links {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 16px 0 0 0;

      .team-cards__icons {
        width: 44px;
        height: 44px;
        padding: 12px;
        fill: #afb1b8;
        list-style: none;
        transition-property: background-color;

        &:hover,
        &:focus,
        &:active {
          border-radius: 50%;
          background-color: $hoverColor;
          fill: #ffffff;
          cursor: pointer;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}
